# IDE
.idea/

.mypy_cache/
.pytest_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution and packaging
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# submit
train.sh
generate_confs.sh

# dataset
data/

# debugging
.vscode/

# trained_models
test_run/
work_models/

# others
tmp/
test_mols
*.log
*.pickle